:root, body {
    height: 100%;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    font-size: 130%;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

/* we need this to reserve the height the fixed content takes and the next page is not placed in front of it */
.fixed-wrapper {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.rollover {
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(237, 237, 237)),color-stop(1, rgb(220, 220, 220)));
    background-image: -webkit-linear-gradient(top left,rgb(237, 237, 237) 0%,rgb(220, 220, 220) 100%);
    background-image: linear-gradient(to bottom right,rgb(237, 237, 237) 0%,rgb(220, 220, 220) 100%);
    background-image: -ms-linear-gradient(top left,rgb(237, 237, 237) 0%,rgb(220, 220, 220) 100%);
}

.outer-container {
    display: table; /* this is fine.gif */
    width: 100%;
    height: 100%;
}

.inner-container {
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
}

.inner-content, .inner-footer, .inner-header {
    margin: auto;
    text-align: center;
}

.fixed-screen {
    position: fixed;
    z-index: -1;
    min-height: 100%;
    height: 100%; /* Mobile Firefox needs this */
}

/***
  main navbar
***/

.main-header {
    position: absolute;
    top: 5%;
    right: 20%;
}

.main-nav-wrapper {
    margin-top: 5%;
}

.main-nav {
    float: right;
    font-size: 120%;
}

.main-nav > li {
    display: inline-block;
}

.main-nav > li + li {
    margin-left: 20px;
}

.main-nav > li > a {
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    color: #fff;
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}

.main-nav > li > a:hover,
.main-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}

.main-nav > li.active > a {
    color: white;
    border-bottom-color: white;
}

.scroll-hint {
    color: whitesmoke;
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 8em; /* have to use something constant here because % is different for margin */
    margin-top: -8em;
    text-align: center;
}

/***
  screen definitions
***/

/*noinspection CssOptimizeSimilarProperties*/
#landing {
    background-color: #91a7cb; /* make loading a little smoother on mobile */
    background-image: url('pics/landing.jpg');
    color: whitesmoke;
}

/***
  media queries
***/

@media (min-width: 768px) {
    /* Keep content a little less wide on wider screens to make it seem roomier */
    .inner-content, .inner-footer, .inner-header {
        width: 60%;
    }

    .inner-footer, .inner-header {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
    }

    .inner-footer {
        bottom: 0;
    }

    .inner-header {
        top: 0;
    }

    /* Increase font sizes since we have a lot more space on wider screens */
    p {
        font-size: 200%;
    }

    .lead {
        font-size: 220%;
    }

    h1 {
        font-size: 400%;
    }
}
